.edgeGroup {
    // cursor: pointer;
    pointer-events: auto;
    &:hover .edgePath,
    &.selected .edgePath {
        stroke: #3b82f6;
    }
    
    &.preview .edgePath {
        stroke: #6b7280;
        stroke-dasharray: 8, 4;
        opacity: 0.8;
    }
}

.edgePath {
    stroke: #adb5bd;
    stroke-width: 2.5;
    fill: none;
    transition: stroke 0.2s ease;
    pointer-events: none;
}

.edgeHitbox {
    fill: none;
    stroke: transparent;
    stroke-width: 20px;
}